
<div class="homeContainer">
  <%- include("./partials/navbar.ejs") %>
  <div class="homeRecentVideos">
    <p class="recentVideosHeader">Recent Videos</p>
    <div class="recentVideosContainer">
      <%if (videos.length >= 1) {%>
        <%for (let i = 0; i < videos.length; i++) {%>
          <%if (i>11){%>
            <a class="recentVideoLink long2" href="/lib/<%=videos[i].topic%>/<%=videos[i].url.substring(20)%>">
              <div class="recentVideo">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <%if (videos[i].title.length > 55) {%>
                  <p><%=videos[i].title.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=videos[i].title%></p>
                <%}%>
                <p><%=videos[i].username%></p>
              </div>
            </a>
          <%}else if (i>9){%>
            <a class="recentVideoLink long1" href="/lib/<%=videos[i].topic%>/<%=videos[i].url.substring(20)%>">
              <div class="recentVideo">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <%if (videos[i].title.length > 55) {%>
                  <p><%=videos[i].title.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=videos[i].title%></p>
                <%}%>
                <p><%=videos[i].username%></p>
              </div>
            </a>
          <%}else if (i>8){%>
            <a class="recentVideoLink long9" href="/lib/<%=videos[i].topic%>/<%=videos[i].url.substring(20)%>">
              <div class="recentVideo">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <%if (videos[i].title.length > 55) {%>
                  <p><%=videos[i].title.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=videos[i].title%></p>
                <%}%>
                <p><%=videos[i].username%></p>
              </div>
            </a>
          <%}else if (i>7){%>
            <a class="recentVideoLink long8" href="/lib/<%=videos[i].topic%>/<%=videos[i].url.substring(20)%>">
              <div class="recentVideo">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <%if (videos[i].title.length > 55) {%>
                  <p><%=videos[i].title.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=videos[i].title%></p>
                <%}%>
                <p><%=videos[i].username%></p>
              </div>
            </a>
          <%}else{%>
            <a class="recentVideoLink" href="/lib/<%=videos[i].topic%>/<%=videos[i].url.substring(20)%>">
              <div class="recentVideo">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <%if (videos[i].title.length > 55) {%>
                  <p><%=videos[i].title.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=videos[i].title%></p>
                <%}%>
                <p><%=videos[i].username%></p>
              </div>
            </a>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </div>
  <div class="homeRecentTopics">
    <p class="recentTopicsHeader">Recent Topics</p>
    <div class="recentTopicsContainer">
      <%if (topics.length >= 1) {%>
        <%for (let i = 0; i < topics.length; i++) {%>
          <%if (i > 11) {%>
            <a class="recentTopicLink long2" href="/lib/<%=topics[i].name%>">
              <div class="recentTopic">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <%if (topics[i].name.length > 55) {%>
                  <p><%=topics[i].name.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=topics[i].name%></p>
                <%}%>
                <p><%=topics[i].username%></p>
              </div>
            </a>
          <%}else if (i > 9){%>
            <a class="recentTopicLink long1" href="/lib/<%=topics[i].name%>">
              <div class="recentTopic">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <%if (topics[i].name.length > 55) {%>
                  <p><%=topics[i].name.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=topics[i].name%></p>
                <%}%>
                <p><%=topics[i].username%></p>
              </div>
            </a>
          <%}else if (i > 8){%>
            <a class="recentTopicLink long9" href="/lib/<%=topics[i].name%>">
              <div class="recentTopic">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <%if (topics[i].name.length > 55) {%>
                  <p><%=topics[i].name.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=topics[i].name%></p>
                <%}%>
                <p><%=topics[i].username%></p>
              </div>
            </a>
          <%}else if (i > 7){%>
            <a class="recentTopicLink long8" href="/lib/<%=topics[i].name%>">
              <div class="recentTopic">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <%if (topics[i].name.length > 55) {%>
                  <p><%=topics[i].name.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=topics[i].name%></p>
                <%}%>
                <p><%=topics[i].username%></p>
              </div>
            </a>
          <%}else{%>
            <a class="recentTopicLink" href="/lib/<%=topics[i].name%>">
              <div class="recentTopic">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <%if (topics[i].name.length > 55) {%>
                  <p><%=topics[i].name.substring(0,55)%>...</p>
                <%}else{%>
                  <p><%=topics[i].name%></p>
                <%}%>
                <p><%=topics[i].username%></p>
              </div>
            </a>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </div>
</div>