
<div class="homeContainer">
  <%- include("./partials/navbar.ejs") %>
  <div class="homeRecentVideos">
    <%- include("./partials/flashError.ejs") %>
    <%- include("./partials/flashSuccess.ejs") %>
    <p class="recentVideosHeader">Recent Videos</p>
    <div class="recentVideosContainer">
      <%if (videos.length >= 1) {%>
        <%for (let i = 0; i < videos.length; i++) {%>
          <%if (i>11){%>
            <div class="recentVideo long2">
              <a class="recentVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <p class="videoTitle"><%=videos[i].title%></p>
              </a>
              <a href="/user/<%=videos[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=videos[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=videos[i].username%></p>
                </div>
              </a>
            </div>
          <%}else if (i>9){%>
            <div class="recentVideo long1">
              <a class="recentVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <p class="videoTitle"><%=videos[i].title%></p>
              </a>
              <a href="/user/<%=videos[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=videos[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=videos[i].username%></p>
                </div>
              </a>
            </div>
          <%}else if (i>8){%>
            <div class="recentVideo long9">
              <a class="recentVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <p class="videoTitle"><%=videos[i].title%></p>
              </a>
              <a href="/user/<%=videos[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=videos[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=videos[i].username%></p>
                </div>
              </a>
              </div>
          <%}else if (i>7){%>
            <div class="recentVideo long8">
              <a class="recentVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>               
                <p class="videoTitle"><%=videos[i].title%></p>
              </a>
              <a href="/user/<%=videos[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=videos[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=videos[i].username%></p>
                </div>
              </a>
            </div>
          <%}else{%>
            <div class="recentVideo">
              <a class="recentVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <div class="recentVideoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                <p class="videoTitle"><%=videos[i].title%></p>
              </a>
              <a href="/user/<%=videos[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=videos[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=videos[i].username%></p>
                </div>
              </a>
            </div>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </div>
  <div class="homeRecentTopics">
    <p class="recentTopicsHeader">Recent Topics</p>
    <div class="recentTopicsContainer">
      <%if (topics.length >= 1) {%>
        <%for (let i = 0; i < topics.length; i++) {%>
          <%if (i > 11) {%>
            <div class="recentTopic long2">
              <a class="recentTopicLink" href="/lib/<%=topics[i].topicUrl%>">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <p class="topicTitle"><%=topics[i].name%></p>
              </a>
              <a href="/user/<%=topics[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=topics[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=topics[i].username%></p>
                </div>
              </a>
            </div>
          <%}else if (i > 9){%>
            <div class="recentTopic long1">
              <a class="recentTopicLink" href="/lib/<%=topics[i].topicUrl%>">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <p class="topicTitle"><%=topics[i].name%></p>
              </a>
              <a href="/user/<%=topics[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=topics[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=topics[i].username%></p>
                </div>
              </a>
            </div>
          <%}else if (i > 8){%>
            <div class="recentTopic long9">
              <a class="recentTopicLink" href="/lib/<%=topics[i].topicUrl%>">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <p class="topicTitle"><%=topics[i].name%></p>
              </a>
              <a href="/user/<%=topics[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=topics[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=topics[i].username%></p>
                </div>
              </a>
            </div>
          <%}else if (i > 7){%>
            <div class="recentTopic long8">
              <a class="recentTopicLink" href="/lib/<%=topics[i].topicUrl%>">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <p class="topicTitle"><%=topics[i].name%></p>
              </a>
              <a href="/user/<%=topics[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=topics[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=topics[i].username%></p>
                </div>
              </a>
            </div>
          <%}else{%>
            <div class="recentTopic">
              <a class="recentTopicLink" href="/lib/<%=topics[i].topicUrl%>">
                <%if (topics[i].imageUrl !== 'null'){%>
                  <div class="recentTopicImage" style="background-image:url('<%=topics[i].imageUrl%>')"></div>
                <%}else{%>
                  <div class="recentTopicImage" style="background-image:url('')"></div>
                <%}%>
                <p class="topicTitle"><%=topics[i].name%></p>
              </a>
              <a href="/user/<%=topics[i].username%>">
                <div>
                  <div class="authorProfilePic" style="background-image:url('<%=topics[i].pic_url%>')"></div>
                  &nbsp;<p class="authorUsername"><%=topics[i].username%></p>
                </div>
              </a>
            </div>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </div>
</div>