<div class="dashboardTopicPageContainer">
  <div class="backdrop"></div>
  <%- include("../partials/navbar.ejs") %>
  <div class="dashboardOptionsContainer">
    <div id="main"  class="createTopicContainer">
      <button id="btnCreateTopicForm" class="icon iconLarge"></button>
    <span>Create Topic</span>
    </div>
    <div class="selectAllTopicsContainer">
      <button id="btnSelectAllTopics" class="icon iconLarge"></button>
    <span>Select All</span>
    </div>
    <div class="deleteAllTopicsContainer">
      <button id="btnDeleteSelected" class="icon iconLarge"></button>
    <span>Delete Selected</span>
    </div>
  </div>
  
  <div class="newTopicFormContainer">
    <h2 class="createTopicHeader">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create New Topic<button class="btnCancelNewTopic">&#10006;</button></h2>
    <form action="/topics/<%= user.username %>/create" method="POST" enctype="multipart/form-data" novalidate>
      <div class="newTopicNameDifficultyContainer">
        <div>
          <label for="name">Name</label>
        </div>
        <div>
          <input
            type="text"
            id="name"
            name="topic[name]"
            placeholder="Enter Topic Title Here"
          >
        </div>
        <div>
          <label for="selectDifficulty">Difficulty</label>
        </div>
        <div>
          <select name="topic[difficulty]" id="selectDifficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
      </div>
      <div class="newTopicDescriptionContainer">
        <label for="description">Description</label>
      <textarea
        id="description"
        name="topic[description]"
        maxlength="512"
        rows="10"
        cols="40"
      ></textarea>
      </div>
      <div class="newTopicFileContainer">
        <label for="btnFileUpload" class="file-upload" id="lblFileUpload">
          <span>Click or Drag Image to Upload</span>
        </label>
        <input type="file" id="btnFileUpload" name="topic[file]" hidden>
      </div>
      <div class="fileSelectedAndSizeLimitContainer">
        <span class="fileSelected" id="fileSelected">No file selected.</span>
        <span class="fileSizeLimit">Max File Size: 1MB</span>
      </div>
      <div class="newTopicAddBtn">
        <button>Add</button>
      </div>
    </form>
  </div>
  <div class="itemsSelectedContainer" id="itemsSelected"></div>
  <h1 class="dashboardTopicHeader">Topics</h1>
  <%- include("../partials/flashError.ejs") %> <%-
  include("../partials/flashSuccess.ejs") %>
  <div class="dashboardTopicList">
    <% if (topics.length > 0) { %> <% for (topic of topics) { %>
    <div class="dashboardTopicWrapper" id="<%=topic.name.replaceAll(' ','-')%>">
      <div class="topicButtonsContainer">
        <button id="btnSelect<%=topic.name.replaceAll(' ','-')%>" class="btnSelectTopic"></button>
        <div class="topicButtons">
          <button class="btnTopicEdit" id="btnEdit<%=topic.name.replaceAll(' ','-')%>">
            <img class="icon" src="/assets/svg/edit-dark.png" alt="edit">
            <span>Edit Topic</span>
          </button>
          <form
            action="/topics/<%= user.username %>/delete/<%= topic.topicUrl %>"
            method="POST"
          >
            <button class="btnTopicDelete">
              <img class="icon" src="/assets/svg/trashBlack.svg" alt="delete">
              <span>Delete Topic</span>
            </button>
          </form>
        </div>
      </div>
      <a href="/user/<%= user.username %>/dashboard/<%=topic.topicUrl%>"
        ><div class="dashboardTopicContainer">
          <%if (topic.imageUrl !== 'null'){%>
            <div class="topicImageContainer" style="background-image:url('<%=topic.imageUrl%>');"></div>
          <%}else{%>
            <div class="topicImageContainer" style="background-image:url('');"></div>
          <%}%>
          <div id="topicInfo" class="topicInfo">
            <div class="dashboardTopicFirstRow">
              <p class="topicName"><%= topic.name %></p>
            </div>
            <p class="topicDifficulty"><%= topic.difficulty %></p>
            <p class="topicDescription" id="<%= topic.name.replaceAll(' ','-') %>Description">
              <%= topic.description %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="dashboardTopicWrapperEdit removeDisplay" id="edit<%=topic.name.replaceAll(' ','-')%>">
      <form
        action="/topics/<%= user.username %>/edit/<%=topic.topicUrl%>"
        method="POST"
      >
        <div class="topicButtons">
          <button class="btnTopicDelete">
            <img class="icon" src="/assets/svg/accept.png" alt="save changes">
            <span>Save Changes</span>
          </button>

          <button
            type="button"
            class="btnTopicEdit"
            id="btnCancelEdit<%=topic.name.replaceAll(' ','-')%>"
          >
            <img class="icon" src="/assets/svg/cancel.png" alt="cancel">
            <span>Cancel</span>
          </button>
        </div>
        <label for="topicName" class="lblTopicName">Topic Name</label>
        <input
          type="text"
          name="topic[name]"
          id="topicName"
          placeholder="<%= topic.name %>"
        >
        <div class="editDifficultyContainer">
          <label for="difficulty" class="lblTopicDifficulty">Difficulty</label>
          <select name="topic[difficulty]" id="difficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
        <label for="<%= topic.name.replaceAll(' ','-') %>DescriptionInput" class="lblTopicDescription"
          >Description</label
        >
        <textarea
          name="topic[description]"
          id="<%= topic.name.replaceAll(' ','-') %>DescriptionInput"
          cols="50"
          rows="5"
          maxlength="255"
        ></textarea>
      </form>
    </div>

    <% } %> <% } %>
  </div>
</div>
<script src="/js/user/dashboard.js"></script>
<script>
  const USERNAME = '<%=user.username%>';
</script>
