<%- include("../partials/navbar.ejs") %>
<h1 class="topicHeader">Topics</h1>
<%- include("../partials/flashError.ejs") %>
<%- include("../partials/flashSuccess.ejs") %>
<% if (topics.length > 0) { %> <% for (topic of topics) { %>
<a href="/user/<%= user.username %>/dashboard/<%= topic.name %>"><div class="topicContainer">
  <p class="topicName"><%= topic.name %></p>
  <p class="topicDifficulty"><%= topic.difficulty %></p>
  <p class="topicDescription"><%= topic.description %></p>
  <form
    action="/topics/<%= user.username %>/delete/<%= topic.name %>"
    method="POST"
  >
    <button class="btnTopicDelete">Delete</button>
  </form>
</div>
</a>
<% } %> <% } %>
<h2 class="createTopicHeader">Create New Topic</h2>
<form action="/topics/<%= user.username %>/create" method="POST">
  <label for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="topic[name]"
    placeholder="Enter Topic Title Here"
    required
  />
  <label for="difficulty">Difficulty: </label>
  <select name="topic[difficulty]" id="difficulty">
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>
  <label for="description">Description: </label>
  <textarea
    id="description"
    name="topic[description]"
    maxlength="512"
    rows="10"
    cols="40"
    required
  ></textarea>
  <button>Add</button>
</form>
