<div class="backdrop displayNone"></div>
<div class="modal displayNone">
    <div class="spinner"></div>
    <p class="modelText" id="modalText"></p>
</div>
<div class="modalDeleteAccount displayNone">
    <h2>Are You Sure?<button id="btnCancelDeleteAcct" class="btnCancelDeleteAccount">X</button></h2>
    <p>This action is unreversable and will:</p>
    <ul>
        <li>Delete your account</li>
        <li>Delete all your topics</li>
        <li>Delete all your videos</li>
    </ul>
    <div class="deleteAccountConfirm">
        <form action="/user/<%=user.username%>/deleteAccount" method="POST"><button>Confirm Delete Account</button></form>
    </div>
</div>
<div id="editProfilePicContainer" class="editImageFormContainer profilePicContainer displayNone">
    <h2>Edit Profile Picture<button class="btnCancelNewTopic" id="btnCancelEditProfilePic">X</button></h2>
    <div id="editProfilePicImage" class="editTopicImageImageContainer" style="background-image: url('<%=user.pic_url%>');"></div>
    <div class="newTopicFileContainer">
      <form id="editProfilePicForm" enctype="multipart/form-data">
        <label for="btnProfilePicUpload" class="file-upload" id="lblProfilePicUpload">
          <div>Click or Drag Image to Upload</div>
          <img id="streamedProfilePic" class="streamedTopicImg displayNone" src="" alt="">
        </label>
        <input type="file" id="btnProfilePicUpload" name="profileImage" hidden>
      </form>
    </div>
    <div class="fileSelectedAndSizeLimitContainer">
      <span class="fileSelected" id="profilePicSelected">No file selected.</span>
      <span class="fileSizeLimit">Max File Size: 1MB</span>
    </div>
    <div class="newTopicAddBtn">
      <button id="btnUpdateProfilePic">Update Image</button>
    </div>
  </div>
  <div id="editBannerContainer" class="editImageFormContainer bannerContainer displayNone">
    <h2>Edit Profile Banner<button class="btnCancelNewTopic" id="btnCancelEditBanner">X</button></h2>
    <div class="newTopicFileContainer">
      <form id="editBannerForm" enctype="multipart/form-data">
        <label for="btnBannerUpload" class="file-upload" id="lblBannerUpload">
          <div>Click or Drag Image to Upload</div>
          <img id="streamedBanner" class="streamedTopicImg displayNone" src="" alt="">
        </label>
        <input type="file" id="btnBannerUpload" name="bannerImage" hidden>
      </form>
    </div>
    <div class="fileSelectedAndSizeLimitContainer">
      <span class="fileSelected" id="bannerSelected">No file selected.</span>
      <span class="fileSizeLimit">Max File Size: 2MB</span>
    </div>
    <div class="newTopicAddBtn">
      <button id="btnUpdateBanner">Update Image</button>
    </div>
  </div>
<%- include("../partials/navbar.ejs") %>
<div class="settingsPageContainer">
    <h1><a href="/user/<%= user.username %>">&larr;</a> Settings</h1>
    <div id="flashReference" class="settingsContainer">
        <h2>Basic Info</h2>
        <div class="basicInfoContainer">
            <div><div class="settingsProfilePic" style="background-image:url('<%=user.pic_url%>');"></div></div>
            <div>
                <button class="clearButtonStyles" id="btnEditProfilePic">
                    <img class="icon" src="/assets/svg/edit-dark.png" alt="edit" />
                    <span>Change Profile Picture</span>
                </button>
                <%if (usingDefaultProfilePic){%>
                    <button class="clearButtonStyles displayNone" id="btnDeleteProfilePic">
                        <img class="icon" src="/assets/svg/trashBlack.svg" alt="edit" />
                        <span>Delete Profile Picture</span>
                    </button>
                <%}else{%>
                    <button class="clearButtonStyles" id="btnDeleteProfilePic">
                        <img class="icon" src="/assets/svg/trashBlack.svg" alt="edit" />
                        <span>Delete Profile Picture</span>
                    </button>
                <%}%>
            </div>
            <div class="textRight">Display Name</div>
            <div id="displayNameContainer">
                <%if (user.display_name == null) {%>
                    <span id="displayName"><span id="noDisplayName" class="noDisplayName">None</span></span>
                <%}else{%>
                    <span id="displayName"><%=user.display_name%></span>
                <%}%>
                <button id="btnEditDisplayName" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/edit-dark.png" alt="edit" />
                    <span>Edit Display Name</span>
                </button>
            </div>
            <div id="editDisplayNameContainer" class="displayNone">
                <input id="txtDisplayName" type="text" placeholder="<%=user.display_name%>">
                <button id="btnConfirmEditDisplayName" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/accept.png" alt="edit" />
                    <span>Confirm</span>
                </button>
                <button id="btnCancelEditDisplayName" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/cancel.png" alt="edit" />
                    <span>Cancel</span>
                </button>
                <p id="errorDisplayName" class="errorText displayNone">Username must be 3 to 24 characters</p>
            </div>
            <div class="textRight">Email</div>
            <div id="displayEmailContainer">
                <span id="email"><%=user.email%></span>
                <button id="btnEditEmail" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/edit-dark.png" alt="edit" />
                    <span>Edit Email</span>
                </button>
            </div>
            <div id="editDisplayEmailContainer" class="displayNone">
                <input id="txtEmail" type="text" placeholder="<%=user.email%>">
                <button id="btnConfirmEditEmail" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/accept.png" alt="edit" />
                    <span>Confirm</span>
                </button>
                <button id="btnCancelEditEmail" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/cancel.png" alt="edit" />
                    <span>Cancel</span>
                </button>
                <p id="errorEmail" class="errorText displayNone">Please enter a valid email</p>
            </div>
            <div class="textRight">About Me</div>
            <div id="aboutMeContainer">
                <%if (user.about_me === null || user.about_me === ""){%>
                    <span id="txtAboutMe" class="noDisplayName">None</span>
                <%}else{%>
                    <span id="txtAboutMe" class="aboutMeContainer"><%=user.about_me%></span>
                <%}%>
                <button id="btnEditAboutMe" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/edit-dark.png" alt="edit" />
                    <span>Edit Your Bio</span>
                </button>
            </div>
            <div id="editAboutMeContainer" class="displayNone">
                <%if (user.about_me === null){%>
                    <textarea name="aboutMe" id="aboutMe" cols="30" rows="10"></textarea>
                <%}else{%>
                    <textarea name="aboutMe" id="aboutMe" cols="30" rows="10"><%=user.about_me%></textarea>
                <%}%>
                <button id="btnConfirmEditAboutMe" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/accept.png" alt="edit" />
                    <span>Confirm</span>
                </button>
                <button id="btnCancelEditAboutMe" class="basicInfoEditButtons">
                    <img class="icon" src="/assets/svg/cancel.png" alt="edit" />
                    <span>Cancel</span>
                </button>
                <p>1024 characters remaining</p>
            </div>
        </div>
    </div>
    <div class="settingsChannelBannerContainer">
        <h2>Channel Banner</h2>
        <div class="channelBannerPreview" style="background-image:url('<%=user.banner_url%>');"></div>
        <div class="editDeleteBannerButtons">
            <button id="btnEditBanner">Edit</button>
            <%if (user.banner_url == null){%>
                <button id="btnDeleteBanner" class="displayNone">Delete</button>
            <%}else{%>
                <button id="btnDeleteBanner">Delete</button>
            <%}%>
        </div>
    </div>
    <div class="settingsContainer">
        <h2>Refresh Metadata</h2>
        <div class="settingContainer">Title</div>
        <div class="settingButtonContainer">
            <%if (user.settingRefreshTitle === 1) {%>
                <button id="btnRefreshTitle" class="btnSetting btnSettingSelected"></button>
            <%}else {%>
                <button id="btnRefreshTitle" class="btnSetting"></button>
            <%}%>
        </div>
        <div class="settingContainer">Description</div>
        <div class="settingButtonContainer">
            <%if (user.settingRefreshDescription === 1) {%>
                <button id="btnRefreshDescription" class="btnSetting btnSettingSelected"></button>
            <%}else {%>
                <button id="btnRefreshDescription" class="btnSetting"></button>
            <%}%>
        </div>
        <div class="settingContainer">Thumbnail</div>
        <div class="settingButtonContainer">
            <%if (user.settingRefreshThumbnail === 1) {%>
                <button id="btnRefreshThumbnail" class="btnSetting btnSettingSelected"></button>
            <%}else {%>
                <button id="btnRefreshThumbnail" class="btnSetting"></button>
            <%}%>
        </div>
    </div>
    <div class="settingsContainer">
        <div class="deleteAccountButtonContainer">
            <button id="deleteAccountButton" class="deleteAccountButton">Delete Account</button>
        </div>
    </div>
</div>
<script type="application/javascript" src="/js/global.js"></script>
<script type="application/javascript" src="/js/user/settings.js"></script>
<script>
    const FLASH_REFERENCE = document.querySelector('#flashReference');
    const USERNAME = '<%=user.username%>';
</script>