<div class="searchPageContainer">
    <%- include("./partials/navbar.ejs") %>
    <div id="main" class="searchResultsContainer">
        <%if (searchQuery === null){%>
            <h1 class="resultsText">No search results</h1>
        <%}else{%>
            <h1 class="resultsText">Showing results for &ldquo;<%=searchQuery%>&rdquo;</h1>
            <%if (videos.length < 1){%>
                <p>No search results</p>
            <%}else{%>
                <div id="searchListContainer" class="searchListContainer">
                    <%for (let i = 0; i < videos.length; i++){%>
                        <a id="result<%=i+1%>" href="<%=API_PATH%>/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                            <div class="searchResultVideo">
                                <div class="videoThumbnail" style="background-image:url('<%=videos[i].thumbnail%>')"></div>
                                <div class="videoInfo">
                                    <%if (videos[i].title.length > 80){%>
                                        <p><%=videos[i].title.substring(0,80)%>...</p>
                                    <%}else{%>
                                        <p><%=videos[i].title%></p>
                                    <%}%>
                                    <div class="userAvatarUsername">
                                        <div class="videoAvatar" style="background-image: url('<%=videos[i].pic_url%>');"></div>
                                        <p class="username"><%=videos[i].username%></p>
                                    </div>   
                                    <p><%=videos[i].description%></p>
                                </div>
                            </div>
                        </a>
                    <%}%>
                </div>
            <%}%>
        <%}%>
    </div>
</div>
<script src="/js/search.js"></script>
<script>
    const searchQuery = "<%=searchQuery%>";
    const API_PATH = "<%=API_PATH%>";
</script>