<div class="dashboardTopicPageContainer">
  <div class="backdrop"></div>
  <div class="modal displayNone">
    <div class="spinner"></div>
    <p class="modelText" id="modalText"></p>
  </div>
  <%- include("../partials/navbar.ejs") %>
  <div id="main" class="dashboardOptionsContainer">
    <div class="createTopicContainer">
      <button id="btnCreateTopicForm" class="icon iconLarge"></button>
    <span>Add Video(s)</span>
    </div>
    <div class="selectAllTopicsContainer">
      <button id="btnSelectAllTopics" class="icon iconLarge"></button>
    <span>Select All</span>
    </div>
    <div class="refreshMetadataContainer">
      <button id="btnRefreshMetadata" class="icon iconLarge"></button>
    <span>Refresh Metadata</span>
    </div>
    <div class="deleteAllTopicsContainer">
      <button id="btnDeleteSelected" class="icon iconLarge"></button>
    <span>Delete Selected</span>
    </div>
  </div>
  <div class="newVideoFormContainer">
    <h2 class="createTopicHeader">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Video<button class="btnCancelNewTopic">&#10006;</button></h2>
    <form id="newVideoForm">
      <input
        type="text"
        name="ytUrl"
        class="ytUrl"
        id="ytUrl"
        placeholder="Enter video or playlist link (e.g. youtube.com/watch?v=id)"
        required
      >
      <div class="newTopicAddBtn">
        <button id="btnAddVideo">Add Video(s)</button>
      </div>
    </form>
  </div>
  <div class="editImageFormContainer">
    <h2>Edit Image<button class="btnCancelNewTopic" id="cancelEditTopicImage">X</button></h2>
    <%if (topic.imageUrl !== 'null') {%>
      <div class="editTopicImageImageContainer" style="background-image: url('<%=topic.imageUrl%>');"></div>
    <%} else {%>
      <div class="editTopicImageImageContainer"><p id="no-image">No Image</p></div>
    <%}%>
    <div class="newTopicFileContainer">
      <form id="editTopicImgForm" enctype="multipart/form-data">
        <label for="btnFileUpload" class="file-upload" id="lblFileUpload">
          <span>Click or Drag Image to Upload</span>
        </label>
        <input type="file" id="btnFileUpload" name="topic[file]" hidden>
      </form>
    </div>
    <div class="fileSelectedAndSizeLimitContainer">
      <span class="fileSelected" id="fileSelected">No file selected.</span>
      <span class="fileSizeLimit">Max File Size: 1MB</span>
    </div>
    <div class="newTopicAddBtn">
      <button id="btnUpdateImage">Update Image</button>
    </div>
  </div>
  <div class="itemsSelectedContainer" id="itemsSelected"></div>
  <div class="dashboardVideosContainer">
    <div class="dashboardTopicLeft">
      <div class="backLinkContainer"><a href="/user/<%=user.username%>/dashboard/">&larr;</a></div>
      <p><%=topic.name%></p>
      <p><%=topic.difficulty%></p>
      <%if (topic.imageUrl !== 'null'){%>
        <div class="topicPageImageContainer" style="background-image: url('<%=topic.imageUrl%>');"><p class="txtNoTopicImage displayNone">Click to add image</p></div>
      <%}else{%>
        <div class="topicPageImageContainer" style="background-image: url('');"><p class="txtNoTopicImage">Click to add image</p></div>
      <%}%>
      <p><%=topic.description%></p>
    </div>
    <% if (videos.length > 0) { %>
      <div id="dashboardTopicVideosList" class="dashboardTopicVideosList">
        <% for (video of videos) { %>
        <div class="dashboardTopicVideoContainer" id="<%=video.id%>Container">
          <div class="videoOptionsPanel">
            <p><button class="moveUp" id="moveUp<%=video.id%>">&#x25B2;</button></p>
            <p><button id="<%=video.id%>" class="btnSelectVideo"></button></p>
            <p><button class="moveDown" id="moveDown<%=video.id%>">&#x25BC;</button></p>
          </div>
          <div class="videoThumbnailContainer" id="thumbnail<%=video.id%>" style="background-image:url('<%=video.thumbnail%>')">
          </div>
          <div class="editVideoForm displayNone" id="editVideoForm<%=video.id%>">
            <form class="editForm">
              <div class="firstRow">
                <input id="editTitle<%=video.id%>" type="text" name="title" placeholder="<%=video.title%>" value="<%=video.title%>">
                <div class="editVideoButtons">
                  <button class="btnSaveEdit icon" id="btnSaveEdit<%=video.id%>"></button>
                  <button class="btnCancelEdit icon" id="btnCancelEdit<%=video.id%>"></button>
                </div>
              </div>
              <textarea name="description" id="editDescription<%=video.id%>" maxlength="1024"><%=video.description%></textarea>
            </form>
          </div>
          <div class="displayVideoInfo displayFlex" id="displayVideoInfo<%=video.id%>">
            <div class="videoContentContainer">
              <div class="dashboardTopicVideoContainerFirstRow">
                <p class="dashboardVideoTitle" id="vidTitle<%=video.id%>"><a href="/lib/<%=video.topicUrl%>/<%=video.url.substring(20)%>"><%= video.title %></a></p>
                <div class="btnEditDelete">
                  <button class="btnVideoEdit" id="btnVideoEdit<%=video.id%>">
                    <img class="icon" src="/assets/svg/edit-dark.png" alt="edit">
                    <span>Edit Video</span>
                  </button>
                  <button class="btnVideoDelete">
                    <img class="icon" src="/assets/svg/trashBlack.svg" alt="delete">
                  </button>
                </div>
              </div>
              <div class="vidDescriptionContainer">
                <p id="vidDescription<%=video.id%>"><%=video.description%></p>
              </div>
            </div>
          </div>
        </div>
        <% }%> 
        <%} else {%>
          <div id="dashboardTopicVideosList" class="dashboardTopicVideosList">
            <h2>No Videos in Topic</h2>
          </div>
      <% } %>
      </div>
  </div>
  
</div>
<script src="/js/global.js"></script>
<script src="/js/user/topic.js"></script>
<script>
  let topics;
  const USERNAME = '<%=user.username%>';
  const TOPIC_URL = '<%=topic.topicUrl%>';
  const REFERENCE_NODE = document.querySelector('.itemsSelectedContainer');
</script>
