<div class="userPageContainer">
    <%- include("../partials/navbar.ejs") %>
    <div id="main" class="userProfileContainer">
        <div class="userBanner" title="Channel Background Image" style="background-image:url('<%=author.banner_url%>');">
            <div class="userInfoContainer">
                <div class="userAvatar" title="Profile Picture" style="background-image:url('<%=author.pic_url%>');"></div>
                <div class="userInfo">
                    <h1 class="authorUsername"><%=author.username%></h1>
                    <p class="authorSubscribers"><%=author.subscribers%> subscribers</p>
                </div>
            </div>
        </div>
        <div class="userAvatarLinksContainer">
            <div class="userLinksContainer">
                <button id="btnGetTopics" class="contentSelected">Topics</button><button id="btnGetVideos">Videos</button><button id="btnGetAbout">About</button>
            </div>
        </div>
        <div class="contentOptions"><button id="btnViewAll" class="btnViewAll displayNone">View All</button></div>
        <div id="userContent" class="userContent displayFlex flexWrap"></div>
        <div class="moreResultsContainer displayNone"><button id="btnSeeMore" class="btnSeeMore">See More</button></div>
    </div>
</div>
<script>
    const FLASH_REFERENCE = document.querySelector('.userContent');
    const AUTHOR = '<%=author.username%>';
    const API_PATH = '<%=API_PATH%>';
</script>
<script src="/js/global.js"></script>
<script src="/js/user/page.js"></script>