<div class="topicContainer">
  <%- include("../partials/navbar.ejs") %>
  <div id="main" class="topicVideoContainer">
    <div class="topicHeader">
      <div class="topicTitleDifficulty">
        <p class="libraryTopicTitle"><%= topic.name %></p>
        <p class="libraryTopicDifficulty"><%= topic.difficulty %></p>
      </div>
      <div class="libraryTopicImage" >
        <%if (topic.imageUrl !== 'null') {%>
          <img src="<%=topic.imageUrl%>" alt="">
        <%}else{%>
          <img src="" alt="">
        <%}%>
      </div>
      <p class="libraryTopicDescription"><%= topic.description %></p>
    </div>
    <div class="topicVideoList">
      <% if (videos.length > 0) { %> 
        <% for (video of videos) { %>
          <a class="topicVideoLink" href="/lib/<%=video.topicUrl%>/<%=video.url.substring(20)%>">
            <div class="topicVideo">
              <div class="topicVideoThumbnail" style="background-image:url('<%=video.thumbnail%>')"></div>
              <div class="topicVideoInfoContainer">
                <p class="topicVideoTitle"><%= video.title %></p>
                <%if (video.description.length > 65) {%>
                  <p class="topicVideoDescription"><%= video.description%></p>
                <%}else{%>
                  <p class="topicVideoDescription"><%= video.description %></p>
                <%}%>
              </div>
            </div>
        </a>
        <%}%>
      <% } else { %>
        <h2>No Videos in this Playlist</h2>
      <% } %>
    </div>
  </div>
</div>
