<div class="topicContainer">
    <%- include("../partials/navbar.ejs") %>
    <div class="videoPageContainer">
      <div id="main" class="mainVideoContainer">
        <div class="mainVideoPlayerContainer">
          <%if (timestamp === null) {%>
            <iframe src="https://www.youtube.com/embed/<%=video.videoId%>" title="YouTube video player" style="border:0px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%}else{%>
            <iframe src="https://www.youtube.com/embed/<%=video.videoId%>?start=<%=timestamp%>" title="YouTube video player" style="border:0px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%}%>
        </div>
        <p id="flashReference" class="mainVideoTitle"><%=video.title%></p>
        <div class="authorInfo">
          <div class="authorAvatar" style="background-image:url('<%=video.pic_url%>')"></div>
          <div class="authorDetails">
            <ul>
              <li><a href="/user/<%=video.username%>"><%=video.username%></a></li>
              <li>
                <%=video.subscribers%>
                <%if (video.subscribers === 1){%>
                  Subscriber
                <%}else{%>
                  Subscribers
                <%}%>
              </li>
            </ul>
          </div>
          <div class="subscribeButtonsContainer">
            <%if (subscribed === null){%>
              <button id="btnSubscribe" class="subscribe displayNone">Subscribe</button>
              <button id="btnUnsubscribe" class="unsubscribe displayNone">Unsubscribe</button>
            <%}else if(subscribed === false){%>
              <button id="btnSubscribe" class="subscribe">Subscribe</button>
              <button id="btnUnsubscribe" class="unsubscribe displayNone">Unsubscribe</button>
            <%}else{%>
              <button id="btnSubscribe" class="subscribe displayNone">Subscribe</button>
              <button id="btnUnsubscribe" class="unsubscribe">Unsubscribe</button>
            <%}%>
          </div>
        </div>
        <%if (video.description !== "" && video.description !== null){%>
          <div class="mainVideoDescriptionContainer hover" tabindex="0">
            <p id="mainVideoDescription" class="mainVideoDescription overflowHidden cursorPointer"><%=video.description%></p>
          </div>
        <%}%>
      </div>
      <div class="videoPlaylistLeft">
        <div class="topicTitleContainer"><a href="/lib/<%=video.topicUrl%>">&larr; <%=video.topic%></a></div>
        <div class="videoPlaylistContainer">
          <%if (videos.length > 0) {%>
            <%for (let i = 0;i < videos.length; i++) {%>
              <a class="playlistVideoLink" href="/lib/<%=videos[i].topicUrl%>/<%=videos[i].url.substring(20)%>">
                <% if (video.id === videos[i].id) {%>
                  <div class="playlistVideoContainer playlistVideoContainerSelected" id="selectedVideo">
                    <div class="playlistVideoImageContainer" style="background-image: url('<%=videos[i].thumbnail%>');">
                    </div>
                    <div class="playlistVideoInfoContainer">
                      <% if (videos[i].title.length > 65) {%>
                        <p><%=videos[i].title.substring(0,65)%>...</p>
                      <% } else { %>
                        <p><%=videos[i].title%></p>
                      <%}%>
                        <p><%=videos[i].description%></p>
                    </div>
                  </div>
                <%} else {%>
                  <div class="playlistVideoContainer">
                    <div class="playlistVideoImageContainer" style="background-image: url('<%=videos[i].thumbnail%>');">
                    </div>
                    <div class="playlistVideoInfoContainer">
                      <% if (videos[i].title.length > 65) {%>
                        <p><%=videos[i].title.substring(0,65)%>...</p>
                      <% } else { %>
                        <p><%=videos[i].title%></p>
                      <%}%>
                        <p><%=videos[i].description%></p>
                    </div>
                  </div>
                <%}%>
              </a>
            <%}%>
          <%}%>
        </div>
      </div>
    </div>
</div>
<script>
  const FLASH_REFERENCE = document.querySelector('#flashReference');
  <%if (user){%>
    const USER_ID = '<%=user.user_id%>';
  <%}else{%>
    const USER_ID = null;
  <%}%>
  const AUTHOR_ID = '<%=video.user_id%>';
</script>
<script src="/js/global.js"></script>
<script src="/js/lib/videoPage.js"></script>