<div class="topicContainer">
  <%- include("../partials/navbar.ejs") %>
  <div class="topicVideoContainer">
    <div class="topicHeader">
      <div class="topicInfo">
        <div class="topicTitleDifficulty">
          <p class="libraryTopicTitle"><%= topic.name %></p>
          <p class="libraryTopicDifficulty"><%= topic.difficulty %></p>
        </div>
        <p class="libraryTopicDescription"><%= topic.description %></p>
      </div>
    </div>
    <div class="topicVideoList">
      <% if (videos.length > 0) { %> <% for (video of videos) { %>
      <div class="topicVideo">
        <p class="topicVideoTitle"><%= video.title %></p>
        <p class="topicVideoDescription"><%= video.description %></p>
        <div class="topicVideoViewsLikes">
          <p class="topicVideoViews">Views: <%= video.views %></p>
          <p class="topicVideoLikes">Likes: <%= video.likes %></p>
        </div>
      </div>
      <% } %> <% } else { %>
      <h2>No Videos in this Playlist</h2>
      <% } %>
    </div>
  </div>
</div>
